.header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: $alternative-color;
}

.site-header {
    display: flex;
    flex-direction: row;
}

.nav {
    justify-content: space-between;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    li {
        font-size:xx-large;
        margin-top: 45px;
        font-family: $nav-font;
        border: 1px solid $border-color;
        text-align: center;
        height: 1.5em;
        padding-top: 5px;
        margin-right: 20px;
    }

    li:hover {
        background-color: $backgroundcolor;
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
    }

    a {
        text-decoration: none;
        color: $link-color;
    }

    .active {
        text-decoration: underline;
        text-decoration-color: $link-color;
    }
}

.logo {
    margin: 10px 10px 10px 20px;

    img {
        width: 150px;
        height: 150px;
        border-style: solid;
        border-color: $border-color
    }
}

.title {
    display: inline-block;

    a {
        color: $link-color;
        text-decoration: none;
    }

    p {
        font-family: $header-font;
    }
}