.footer {
    height: 50px;
    border-top: 2px solid $border-color;
    display: flex;
    flex-direction: row;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

.footerinfo {
    flex: 4;
    border-right: 1px solid $border-color;
    margin: 5px;
}

.social {
    flex: 1;
    margin: 20px 5px 5px;

    display: flex;
    flex-direction: row;
    // justify-content: space-between;

    i {
        flex: 1;
        margin-left: 5px;
        margin-right: 5px;
    }

    a {
        text-decoration: none;
    }
}