.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
}

.site-header {
    display: flex;
    flex-direction: row;
    width: 38%;
}

.nav {
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    li {
        flex: 1;
        font-size:xx-large;
        margin: 30px 10px 0;
        font-family: $nav-font;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .active {
        text-decoration: underline;
    }
}

.logo {
    margin: 10px 10px 10px 20px;

    img {
        width: 150px;
        height: 150px;
        border-style: solid;
        border-color: $border-color
    }
}

.title {
    display: inline-block;

    a {
        color: $link-color;
        text-decoration: none;
    }

    p {
        font-family: $header-font;
    }
}