@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&family=Amatic+SC:wght@700&display=swap');

$backgroundcolor: rgb(158, 235, 158);
$backgroundcolorhover: rgb(108, 182, 108);
$border-color: #333;
$link-color: #333;

$header-font: 'Noto Serif', serif;
$main-font: 'Roboto', sans-serif;
$nav-font: 'Amatic SC', sans-serif;