.analysis-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    margin-bottom: 40px;
    // border-top: 2px solid $border-color;
    // border-bottom: 2px solid $border-color;

    .menu-item {
        margin-bottom: 5px;
        color: $text-color;
        flex: 1;
        margin-left: 10px;
    }

    .menu-item:first-of-type {
        margin-left: 0;
    }

    a {
        margin: 5px;
        font-family: $main-font;
        font-size: larger;
        text-decoration: none;
        color: $link-color;
    }

    a:hover {
        text-decoration: underline overline;
    }
}

.color-table {
    border-spacing: 4px;
    border-collapse: separate;
    margin-top: 20px;

    .single-color {
        height: 50px;
        width: 50px;
        border: 1px solid $border-color;
    }
}

thead {
    font-family: $main-font;

    tr {
        height: 40px;
    }
}

tbody {
    font-family: $main-font;

    tr {
        height: 60px;
    }
}

tr {
    display: flex;

    td:first-child {
        border: 0;
    }
}

.font-table-head {
    background-color: $table-head-color;

    td {
        color: $alt-text-color;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $alt-text-color;
    }
}

tr:nth-child(2n) {
    background-color: $table-body-color;
}

.weburlhead {
    flex: 1;

}

.weburl {
    flex: 1;
    margin: auto;
}

td {
    // border: 1px solid $border-color;
    flex: 2;
    height: 60px;
    display: flex;
    // justify-content: center;
    align-items: center;
    border-left: 1px solid $border-color;
}

.embed-document {
    position: relative;
    padding-bottom: 42%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    color-analysis-image {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 90vw;
        // height: 100%;
    }
}


