body {
    display: flex;
    flex-direction: column;
}

.main {
    width: 950px;
    margin: auto;
    display: inline-block;
    min-height: 25em;

    p {
        word-wrap: break-word;
        word-spacing: 0.1em;
        line-height: 1.5em;
        font-size: 16px;
    }

    .presentationimage {
        float: left;
        width: 38%;
        margin: 0 10px 10px 0;
    }
}
