@media (max-width: 1000px) {
    .nav {
        ul {
            grid-template-columns: 1fr 1fr 1fr;
        }

        li {
            margin-top: 30px;
        }
    }

    .main,
    .footer {
        width: 95%;
    }

    .gallery-grid {
        // display: grid;
        grid-template-columns: 300px 300px;
        justify-content: space-evenly;
    }
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .title {
        h1 {
            margin-left: 20px;
        }

        p {
            margin-left: 20px;
        }
    }

    .logo {
        img {
            width: 250px;
            height: 250px;
        }
    }

    .nav {
        li {
            margin: 10px 10px 0;
        }
    }

    .landingpage {
        grid-template-columns: 1fr;
    }

    .landingpage h1,
    .css-style,
    .html-style,
    .js-style,
    .php-style,
    .python-style,
    .git-style,
    .sqlite-style {
        grid-column: span 1;
    }

    .tech-menu {
        display: none;
    }
}

@media (max-width: 665px) {
    .main .presentationimage {
        float: none;
        display: block;
        width: 100%;
    }

    .gallery-grid {
        grid-template-columns: 350px;

        .single-picture {
            width: 350px;
            height: 392px;
        }

        figcaption {
            text-align: center;
            margin-top: 340px;
            font-family: $photo-font;
            font-size: x-large;
        }

        .photographer {
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-size: xx-small;
        }
    }
}

@media (max-width: 500px) {
    .logo {
        img {
            width: calc(100vw - 250px);
            height: calc(100vw - 250px);
        }
    }
}