@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&family=Amatic+SC:wght@700&display=swap');

$backgroundcolor: #1A1200;
$backgroundcolorhover: #1A1200;

$text-color: #E6D8B8;
$link-color: #E6D8B8;
$alt-text-color: #333;

$border-color: #B39D6B;

$code-color: #111;
$code-background: #f5f5f5;

$table-head-color: #B39D6B;
$table-body-color: #5f543b;

$header-font: 'Noto Serif', serif;
$main-font: 'Roboto', sans-serif;
$nav-font: 'Amatic SC', sans-serif;